/backup
/node_modules
#/public/build
/public/hot
/public/storage
/public/uploads/*
/storage/*.key
/vendor
.env
/php.ini
/.htaccess
.phpunit.result.cache
npm-debug.log
yarn-error.log
phpstan.neon
/.fleet
/.idea
/.vscode
