.m {
    &__tb {
        margin-top: clamp(2.5rem, 6vw, 6.875rem);
        margin-bottom: clamp(2.5rem, 6vw, 6.875rem);

        &--t {
            margin-top: clamp(2.5rem, 6vw, 6.875rem);
        }

        &--b {
            margin-bottom: clamp(2.5rem, 6vw, 6.875rem);
        }
    }
}

.p {
    padding: clamp(2.5rem, 6vw, 6.875rem);
    &__tb {
        padding-top: clamp(2.5rem, 6vw, 6.875rem);
        padding-bottom: clamp(2.5rem, 6vw, 6.875rem);

        &--t {
            padding-top: clamp(2.5rem, 6vw, 6.875rem);
        }

        &--b {
            padding-bottom: clamp(2.5rem, 6vw, 6.875rem);
        }
    }
}