$breakpoint-2000: 2000px;
$breakpoint-1800: 1800px;
$breakpoint-1700: 1800px;
$breakpoint-1600: 1600px;
$breakpoint-1500: 1600px;
$breakpoint-1400: 1400px;
$breakpoint-1300: 1300px;
$breakpoint-1200: 1200px;
$breakpoint-1250: 1250px;
$breakpoint-1199: 1199px;
$breakpoint-1100: 1100px;
$breakpoint-1024: 1024px;
$breakpoint-991: 991px;
$breakpoint: 992px;
$breakpoint-767: 767px;
$breakpoint-575: 575px;
$breakpoint-480: 480px;
$breakpoint-380: 380px;
