@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sansita+Swashed:wght@300..900&display=swap');

$inter: "Inter", sans-serif;
$sansita: "Sansita Swashed", sans-serif;
$bebas: "Bebas Neue", sans-serif;

